<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <div class="row">
          <h1 class="col-md-12">Login Usuario</h1>
        </div>
        <input type="email" placeholder="Email" value="{{email::input}}">
        <input type="pwd" placeholder="Email" value="{{pwd::input}}">
        <button class="btn btn-success" on-click="login">Login</button>

    <iron-ajax

    id="doLogin"
    url="http://localhost:3000/apitechu/v2/login"
    content-type="application/json"
    method="POST"
    handle-as="json"
    on-response="manageAJAXResponse"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {

            email:{
              type: String
            }, pwd : {
              type : String
            }
          };
      }


        login() {
          console.log("El usuario ha pulsado el botonaco");
          var loginData = {
            "email" : this.email,
            "pwd" : this.pwd
          };
          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Peticion enviada");

        }
      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
