<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>

      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h1 class="col-md-12">Visor Cuentas</h1>
      <h2 class="col-md-5">Soy el usuario {{user_id}}</h2>
      <h2 class="col-md-5">y en mi cuenta {{IBAN}}</h2>
      <h2 class="col-md-5">tengo {{balance}} euros</h2>
    </div>

<!--    <button class="btn btn-success">Login</button>
    <button class="btn btn-warning">Logout</button>   -->
<!--    <input type="text" value="{{first_name::input}}"/>  -->
<!--    <input type="range" min="18" value={{age::input}} max="70"/> -->

    <iron-ajax
      auto=""
      ide="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{user_id}}/accounts"
      handle-json="json"
      on-response="showData"
      >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          user_id: {
            type: Number
          }, IBAN: {
            type: String
          }, balance: {
            type: Number
          }
        };
      }

      showData(data){
        console.log("Recibidos los datos de la cuenta");
        console.log(data.detail.response);
        console.log(data.detail.response.user_id);
        console.log(data.detail.response.IBAN);
        console.log(data.detail.response.balance);


        this.user_id=data.detail.response.user_id;
        this.IBAN=data.detail.response.IBAN;
        this.balance=data.detail.response.balance;


      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
